* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}


@font-face {
    font-family: 'yekan';
    src: url('../font/Yekan/Yekan.eot') format('embedded-opentype'),
    url('../font/Yekan/yekan.woff') format('woff'),
    url('../font/Yekan/Yekan.ttf') format('truetype'),
    url('../font/Yekan/Yekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shabnam';
    src: url('../font/shabnam-400/shabnam-400.eot') format('embedded-opentype'),
    url('../font/shabnam-400/shabnam-400.woff') format('woff'),
    url('../font/shabnam-400/shabnam-400.ttf') format('truetype'),
    url('../font/shabnam-400/shabnam-400.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontawesome';
    src: url("../font/font-awesome/fontawesome.svg") format('svg'),
    url("../font/font-awesome/fontawesome.eot") format('eot'),
    url("../font/font-awesome/fontawesome.otf") format('otf'),
    url("../font/font-awesome/fontawesome.ttf") format('ttf'),
    url("../font/font-awesome/fontawesome.woff") format('woff'),
    url("../font/font-awesome/fontawesome.woff2") format('woff2');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'yekan', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background: #fff;
}

.sidebar * {
    text-align: right;
    font-weight: 600;
}

.register{
    width: 45rem;
}

.register input{
    padding: 1rem 0.875rem;
}

.register input[type="submit"]{
    /*padding: 0.875rem 0.75rem;*/
    /*background: #00a0e9;*/
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-right: 0.875rem !important;
}

.register input[type="file"]{
    padding: 0;
}

.login h1,
.register h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.login label,
.register label {
    float: right;
    font-size: 14px;
    font-weight: 600;
}

.login input,
.register input {
    direction: rtl;
    font-size: 12px;
}


.bg-blue {
    background-color: rgb(74, 109, 165);
    box-shadow: 0 3px 4px #aaaaaa, 0 4px 8px #ededed;
}

.bg-red {
    background-color: rgb(210, 0, 1);
    box-shadow: 0 3px 4px #aaaaaa, 0 4px 8px #ededed;
}

.nav-link {
    color: #dedede !important;
}

.nav-link:hover {
    color: #fefefe !important;
}

.active > .nav-link {
    color: #ffffff !important;
}

.bg-article {
    background-color: #dedede;
}

.date-time {
    color: #999;
    font-size: .8rem;
}


/*panel*/
.sidebar {
    min-height: Calc(100vh - 3.5rem);
    background-color: #ededed;
    box-shadow: 3px 5px 4px #cccccc, 5px 7px 8px #ededed;
}

.sidebar .sidebar-header {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.sidebar-link > a {
    text-decoration: none;
    display: block;
    color: #666666;
    border-left: 3px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    padding: 1rem .5rem;
    font-size: 1.2rem;
    transition: all .4s;
}

.sidebar-link > a:hover {
    border-left: 3px solid rgb(74, 109, 165);
    background-color: rgba(0, 0, 0, .2);
    transition: all 2s;
}

hr {
    margin: 0;
}

.dropdown-menu {
    text-align: right;
}

tbody td {
    text-align: right;
}

thead {
    text-align: right;
}

thead tr th:last-child {
    text-align: left;
}

tbody .btn-box {
    text-align: left;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-row section {
    flex: 1;
    margin: 1rem;
}

.add-post-form label {
    float: right;
    font-weight: 600;
}

.page-title {
    font-weight: 700;
    text-align: right;
    padding: 1rem;
    margin: 1rem;
}

.user_image {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    margin-bottom: 20px;
}

.form-control {
    padding: 0;
}

.google-logo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.google-logo {
    width: 50px;
    height: 50px;
    outline: none;
}

#search-box {
    width: auto;
    padding: 5px;
}

.fa-search {
    background-color: #fff3cd;
    color: #000000;
    padding: 9px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.fa-search:hover {
    background-color: rgb(255, 193, 19);
    color: #ffffff;
}

.collapse {
    margin-top: 10px;
}

.nav .nav-item a {
    transition: all 0.4s;
}

.nav .nav-item a:hover {
    color: rgb(255, 193, 19) !important;
    transform: scale(1.1);

}

.sidebar-link a:hover {
    color: rgb(255, 193, 19) !important;
    background-color: rgb(74, 109, 165) !important;
}

.checkbox label {
    white-space: nowrap;
}

.checkbox input {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    display: inline-block;
    width: auto;
}

.login-page{
    overflow-y: hidden;
}

.error{
    color: #ff0000;
    text-align: center;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"]{
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.post-body{
    text-align: right;
    text-justify: newspaper !important;
}

.post-detail{
    text-align: right;
}

.post-detail img{
    width: 79vw;
    height: auto;

    margin : 0 auto;
}

.cat_name{
    text-align: right;
}